---
import Layout from "../../layouts/MainLayout.astro";
import { astroI18n, t } from "astro-i18n";

astroI18n.init(Astro);
---

<Layout title={"Nicolas Renault"}>
	<main>
		<h1 class="text-gradient">Nicolas Renault</h1>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 60ch;
	}
	h1 {
		font-size: 3rem;
		font-weight: 800;
		margin: 0;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
</style>
