---
import Layout from "@layouts/MainLayout.astro";
import { getLangFromUrl } from "@utils";
import { astroI18n, t } from "astro-i18n";
import { Code } from "astro/components";

astroI18n.init(Astro);

const lang = getLangFromUrl(Astro.url);
---

<Layout title={"Projects"}>
	<main>
		<section>
			<h1 class="text-gradient">Logo</h1>
			<h2>{t("logo.catch_phrase")}</h2>
			<p>{t("logo.description")}</p>
			<a href="https://github.com/NicolasRenault/logo#readme">
				{t("global.see_on_github")}
			</a>
			<a href="https://github.com/NicolasRenault/logo#license">
				{t("global.license")}
			</a>
		</section>

		<section>
			<div>
				<div>
					<h3>.png</h3>
					<article>
						<h4>{t("global.light")}</h4>
						<img src="https://cdn.nicolasrenault.com/logo/NR_Logo.png" />
					</article>
					<article>
						<h4>{t("global.dark")}</h4>
						<img src="https://cdn.nicolasrenault.com/logo/NR_Logo_dark.png" />
					</article>
				</div>
				<div>
					<h3>.svg</h3>
					<article>
						<h4>{t("global.light")}</h4>
						<img src="https://cdn.nicolasrenault.com/logo/NR_Logo.svg" />
					</article>
					<article>
						<h4>{t("global.dark")}</h4>
						<img src="https://cdn.nicolasrenault.com/logo/NR_Logo_dark.svg" />
					</article>
				</div>
			</div>
			<div>
				<div>
					<h3>WebComponent</h3>
					<p>{t("logo.webcomponent_description")}</p>
					<div>
						<h4>{t("language.size")}</h4>
						<article>
							<h5>sm</h5>
							<nr-logo size="sm"></nr-logo>
							<Code code="<nr-logo size='sm'></nr-logo>" lang="js" />
						</article>
						<article>
							<h5>md</h5>
							<nr-logo size="md"></nr-logo>
							<Code code="<nr-logo size='md'></nr-logo>" lang="js" />
						</article>
						<article>
							<h5>xl</h5>
							<nr-logo size="xl"></nr-logo>
							<Code code="<nr-logo size='xl'></nr-logo>" lang="js" />
						</article>
					</div>
					<div>
						<h4>{t("language.color")}</h4>
						<p>
							{t("logo.webcomponent_color_description")}
						</p>
						<article>
							<h5>{t("language.color_name")}</h5>
							<nr-logo size="xl" color="green"></nr-logo>
							<Code code="<nr-logo color='green'></nr-logo>" lang="js" />
						</article>
						<article>
							<h5>{t("language.hexadecimal")}</h5>
							<nr-logo size="xl" color="#ff0000"></nr-logo>
							<Code code="<nr-logo color='#ff0000'></nr-logo>" lang="js" />
						</article>
					</div>
					<div>
						<h4>{t("language.animation")}</h4>
						<article>
							<h5>{t("language.animated")}</h5>
							<p>{t("logo.webcomponent_animated_description")}</p>
							<nr-logo size="xl" animated></nr-logo>
							<Code code="<nr-logo animated></nr-logo>" lang="js" />
						</article>
						<article>
							<h5>{t("language.rainbow")}</h5>
							<p>{t("logo.webcomponent_rainbow_description")}</p>
							<nr-logo size="xl" rainbow></nr-logo>
							<Code code="<nr-logo rainbow></nr-logo>" lang="js" />
						</article>
					</div>
				</div>
				<div>
					<h3>.ico</h3>
					<article>
						<h4>{t("global.light")}</h4>
						<img src="https://cdn.nicolasrenault.com/logo/NR_Logo_96x96.ico" />
					</article>
					<article>
						<h4>{t("global.dark")}</h4>
						<img src="https://cdn.nicolasrenault.com/logo/NR_Logo_dark_96x96.ico" />
					</article>
				</div>
			</div>
		</section>
	</main>

	<script defer src="https://cdn.nicolasrenault.com/logo/NR_Logo.js"></script>
</Layout>
