---
import BasicLink from "@components/BasicLink.astro";
import Layout from "@layouts/MainLayout.astro";
import { astroI18n, t } from "astro-i18n";
import { Code } from "astro/components";
import { Image } from "astro:assets";

astroI18n.init(Astro);
---

<Layout title={"Logo"} pathname="project">
	<main>
		<section id="introduction">
			<h1>Logo</h1>
			<h2>{t("logo.catch_phrase")}</h2>
			<p>{t("logo.description")}</p>

			<div>
				<BasicLink
					text={t("global.see_on_github")}
					href="https://github.com/NicolasRenault/logo#readme"
					title={t("global.see_on_github")}
					target="_blank"
				/>
				<BasicLink
					text={t("global.license")}
					href="https://github.com/NicolasRenault/logo#license"
					title={t("global.license")}
					target="_blank"
				/>
			</div>
		</section>

		<section id="explanation-container">
			<h3>{t("logo.the_logo")}</h3>
			<p>
				<span>{t("logo.explaination")}</span>
				<BasicLink
					text="@neytaan_art"
					href="https://instagram.com/neytaan_art?igshid=NTc4MTIwNjQ2YQ=="
					title="@neytaan_art Instagram"
					target="_blank"
				/>
			</p>
			<div class="article-container simple-card">
				<article>
					<h5 class="pb-1">{t("global.light")}</h5>
					<Image
						src="https://cdn.nicolasrenault.com/logo/NR_Logo_light_mode.svg"
						width="120"
						height="80"
						alt={"Logo Nicolas Renault " + t("global.light")}
					/>
				</article>
				<article>
					<h5 class="pb-1">{t("global.dark")}</h5>
					<Image
						src="https://cdn.nicolasrenault.com/logo/NR_Logo_dark_mode.svg"
						width="120"
						height="80"
						alt={"Logo Nicolas Renault " + t("global.dark")}
					/>
				</article>
				<article>
					<h5 class="pb-1">{t("global.white")}</h5>
					<Image
						src="https://cdn.nicolasrenault.com/logo/NR_Logo_white.svg"
						width="120"
						height="80"
						alt={"Logo Nicolas Renault " + t("global.white")}
					/>
				</article>
				<article>
					<h5 class="pb-1">{t("global.black")}</h5>
					<Image
						src="https://cdn.nicolasrenault.com/logo/NR_Logo_black.svg"
						width="120"
						height="80"
						alt={"Logo Nicolas Renault " + t("global.black")}
					/>
				</article>
			</div>
		</section>

		<section id="web-component-container">
			<h3>WebComponent</h3>
			<p>{t("logo.webcomponent_description")}</p>
			<div>
				<h4>{t("language.size")}</h4>
				<div class="article-container">
					<article>
						<h5>sm</h5>
						<Code code="<nr-logo size='sm'></nr-logo>" lang="js" />
						<nr-logo class="sizes-examples" size="sm"></nr-logo>
					</article>
					<article>
						<h5>md</h5>
						<Code code="<nr-logo size='md'></nr-logo>" lang="js" />
						<nr-logo class="sizes-examples" size="md"></nr-logo>
					</article>
					<article>
						<h5>xl</h5>
						<Code code="<nr-logo size='xl'></nr-logo>" lang="js" />
						<nr-logo class="sizes-examples" size="xl"></nr-logo>
					</article>
				</div>
			</div>
			<div>
				<h4>{t("language.color")}</h4>
				<p>
					{t("logo.webcomponent_color_description")}
				</p>
				<div class="article-container">
					<article>
						<h5>{t("language.color_name")}</h5>
						<Code code="<nr-logo color='green'></nr-logo>" lang="js" />
						<nr-logo size="xl" color="green"></nr-logo>
					</article>
					<article>
						<h5>{t("language.hexadecimal")}</h5>
						<Code code="<nr-logo color='#ff0000'></nr-logo>" lang="js" />
						<nr-logo size="xl" color="#ff0000"></nr-logo>
					</article>
					<article>
						<h5>RGB</h5>
						<Code code="<nr-logo color='rgb(221 120 50)'></nr-logo>" lang="js" />
						<nr-logo size="xl" color="rgb(221 120 50)"></nr-logo>
					</article>
					<article>
						<h5>HSL</h5>
						<Code code="<nr-logo color='hsl(220 100% 50%)'></nr-logo>" lang="js" />
						<nr-logo size="xl" color="hsl(220 100% 50%)"></nr-logo>
					</article>
				</div>
				<h5>{t("language.color_theme")}</h5>
				<p>
					{t("logo.webcomponent_color_theme_description")}
				</p>
				<div class="article-container">
					<article>
						<h5>{t("global.light")}</h5>
						<Code code="<nr-logo color='light'></nr-logo>" lang="js" />
						<nr-logo size="xl" color="light"></nr-logo>
					</article>
					<article>
						<h5>{t("global.dark")}</h5>
						<Code code="<nr-logo color='dark'></nr-logo>" lang="js" />
						<nr-logo size="xl" color="dark"></nr-logo>
					</article>
				</div>
			</div>
			<div>
				<h4>{t("language.animations")}</h4>
				<div class="article-container">
					<article>
						<h5>{t("language.animated")}</h5>
						<p>{t("logo.webcomponent_animated_description")}</p>
						<Code code="<nr-logo animated></nr-logo>" lang="js" />
						<nr-logo size="xl" animated></nr-logo>
					</article>
					<article>
						<h5>{t("language.rainbow")}</h5>
						<p>{t("logo.webcomponent_rainbow_description")}</p>
						<Code code="<nr-logo rainbow></nr-logo>" lang="js" />
						<nr-logo size="xl" rainbow></nr-logo>
					</article>
				</div>
			</div>
		</section>
	</main>
</Layout>

<style lang="scss">
	main {
		#introduction {
			div {
				display: flex;
				gap: 1rem;

				font-size: 1.5rem;
			}
		}

		h3 {
			font-size: 1.5rem;
		}

		.article-container {
			display: flex;
			gap: 2rem;
			max-width: 1000px;
			overflow-x: auto;

			article {
				display: flex;
				flex-direction: column;
				max-width: 375px;
				width: fit-content;
				max-height: 300px;
				margin-bottom: 1rem;
				padding: 1rem;
				border-radius: 10px;
				background-color: var(--secondary-dark-rgb);
				background-color: var(--primary-light-rgb);

				h5 {
					margin: 0;

					font-size: 1.3rem;
					text-decoration: underline solid 3px var(--secondary-rgb);
					white-space: nowrap;
					letter-spacing: normal;
				}

				.pb-1 {
					padding-bottom: 1rem;
				}

				:global(pre) {
					margin: 1rem 0;
				}

				nr-logo {
					margin: auto;
				}
			}
		}

		section {
			font-size: 1.5rem;

			&:not(:last-child) {
				margin-bottom: 3rem;
			}
		}
	}

	@media (width <= 768px) {
		main {
			#introduction {
				div {
					font-size: 1rem;
				}
			}

			h3 {
				font-size: 1.3rem;
			}

			.article-container {
				gap: 1rem;
			}

			section {
				font-size: 1.3rem;
			}
		}
	}

	@media (width <= 425px) {
		main {
			#introduction {
				div {
					font-size: 1rem;
				}
			}

			h3 {
				font-size: 1.2rem;
			}

			.article-container {
				font-size: 1rem;
			}

			section {
				font-size: 1.2rem;
			}
		}
	}
</style>
