---
import "@styles/global.css";

import BaseHead from "@components/BaseHead.astro";
---

<!DOCTYPE html>
<html lang=en>
    <BaseHead title="404" />
	<body data-theme="dark" class="flex flex-col relative h-screen items-center bg-surface">
        <h1 class="text-content text-4xl md:text-6xl font-lora p-10">404 error</h1>
        <a href="/" class="text-xl md:text-2xl mb-10 basic-button uppercase">Go back</a>
        <img id="the-office-img" alt="The office meme" src="/the-office-memes/the-office-meme-43.gif" class="w-80 sm:w-2xl"/>
        <nr-logo size="lg" rainbow class="text-content mt-10"></nr-logo>
    </body>
</html>

<script>
    //Change the img #the-office-img to a random gif from /the-office-memes
    const imageHolder = document.getElementById("the-office-img");
    const numberOfMeme = 53;
    const memeBaseName = "/the-office-memes/the-office-meme-{X}.gif"
    const rand = Math.floor(Math.random() * numberOfMeme) + 1;
    const memeURL = memeBaseName.replace("{X}", rand.toString());

    (imageHolder as HTMLImageElement).src = memeURL;
</script>