---
import Layout from "@layouts/MainLayout.astro";
import { getLangFromUrl, getUrlWithTranslation } from "@utils";
import { astroI18n, t } from "astro-i18n";

astroI18n.init(Astro);

const lang = getLangFromUrl(Astro.url);
---

<Layout title={t("navbar.resume")}>
	<main>
		<h1 class="text-gradient">{t("navbar.resume")}</h1>
	</main>
</Layout>
