---
export interface Props {
	top: string;
	left: string;
	rotate?: string;
}

let { top, left, rotate = "20deg" } = Astro.props;

const negative = left.includes("-");
---

<div class:list={["blob-container", { "is-negative": negative }]} data-rotate={rotate}>
	<svg
		class="blob-gradient"
		class="blob"
		viewBox="0 0 400 400"
		width="900"
		height="900"
		xmlns="http://www.w3.org/2000/svg"
		xmlns:xlink="http://www.w3.org/1999/xlink"
		version="1.1"
	>
		<defs>
			<linearGradient
				gradientTransform="rotate(150, 0.5, 0.5)"
				x1="50%"
				y1="0%"
				x2="50%"
				y2="100%"
				id="gradient-svg"
			>
				<stop stop-color="var(--tertiary-rgb)" stop-opacity="1" offset="0%"></stop>
				<stop stop-color="var(--text-rgb)" stop-opacity="1" offset="40%"> </stop>
				<stop stop-color="var(--secondary-rgb)" stop-opacity="1" offset="100%"> </stop>
			</linearGradient>
		</defs>
		<g transform="translate(150 210)">
			<path
				d="M186.5 -99.7C229.8 -32.7 244.8 58.7 209 98.1C173.2 137.5 86.6 125 21.7 112.5C-43.3 100 -86.6 87.5 -113.4 53.3C-140.3 19 -150.7 -37 -129 -91.5C-107.4 -146 -53.7 -199 8.9 -204.2C71.6 -209.3 143.2 -166.7 186.5 -99.7"
				fill="url(#gradient-svg)"></path>
		</g>
	</svg>
	<div class="blur-filter"></div>

	<script>
		const blobContainers = document.querySelectorAll(".blob-container");

		blobContainers.forEach((blobContainer) => {
			const rotate = blobContainer.dataset.rotate;

			if (rotate === "random") {
				blobContainer.style.setProperty("--rotate", `${Math.random() * 360}deg`);
			} else {
				blobContainer.style.setProperty("--rotate", rotate);
			}
		});
	</script>
</div>

<style lang="scss" define:vars={{ top, left }}>
	.blob-container {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		overflow: hidden;
		z-index: -10;
		filter: blur(30px);
		pointer-events: none;

		.blob-gradient {
			position: absolute;
			display: inline-block;
			top: var(--top);
			left: var(--left);
			rotate: var(--rotate);
			z-index: -1;
			opacity: 0.7;
			filter: blur(30px);
			pointer-events: none;
		}

		.blur-filter {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			backdrop-filter: blur(30px);
			pointer-events: none;
			z-index: 1;
		}
	}

	@media (width > 1440px) {
		.blob-container.is-negative {
			.blob-gradient {
				left: calc(var(--left) * 0.5);
			}
		}
	}
	@media (width <= 768px) {
		.blob-container.is-negative {
			.blob-gradient {
				left: calc(var(--left) / 0.4);
			}
		}
	}

	@media (prefers-reduced-motion: no-preference) {
		.blob-gradient {
			animation: blob-slide-fade-in ease 2s;
		}

		@keyframes blob-slide-fade-in {
			from {
				opacity: 0;
				transform: translateY(5vh);
			}
			to {
				opacity: 0.7;
				transform: translateY(0);
			}
		}
	}
</style>
