---
import {
	defaultLang,
	getLangFromUrl,
	getUrlWithTranslation,
	switchLangFromUrl,
	isResumeEnable,
	getResumeLinkForLanguage,
} from "@utils";
import { astroI18n, t } from "astro-i18n";
import { Icon } from "astro-icon";
import BasicLink from "./BasicLink.astro";

astroI18n.init(Astro);

const lang = getLangFromUrl(Astro.url);

/**
 * Remove the last slash from the pathname if it's the last character
 */
const lastSlashIndex = Astro.url.pathname.lastIndexOf("/");

let currentPathName = Astro.url.pathname;

if (lastSlashIndex > Astro.url.pathname.length - 2) {
	currentPathName = currentPathName.slice(0, lastSlashIndex);
}
---

<nav>
	<ul>
		<li class:list={[{ active: Astro.url.pathname == getUrlWithTranslation("", lang) }]}>
			<a href={getUrlWithTranslation("", lang)} title={t("navbar.homepage")}>
				{t("navbar.homepage")}
			</a>
		</li>

		<li class:list={[{ active: currentPathName == getUrlWithTranslation("projects", lang) }]}>
			<a href={getUrlWithTranslation("projects", lang)} title={t("navbar.projects")}>
				{t("navbar.projects")}
			</a>
		</li>
		{
			isResumeEnable() && (
				<li id="resume-link">
					<a
						href={getResumeLinkForLanguage(lang)}
						title={t("navbar.resume")}
						target="_blank"
					>
						{t("navbar.resume")}
					</a>
				</li>
			)
		}
		<li id="contact-link">
			<button
				onclick="document.getElementById('contact-dialog').showModal()"
				title={t("navbar.contact_me")}
			>
				{t("navbar.contact")}
			</button>
		</li>
	</ul>
	<div id="left-container">
		<button
			id="mobile-contact-link"
			onclick="document.getElementById('contact-dialog').showModal()"
			title={t("navbar.contact_me")}
		>
			<Icon name="ic:baseline-alternate-email" />
		</button>
		<a
			id="github-link"
			class="icon"
			href="https://github.com/NicolasRenault"
			title={t("navbar.github_profile")}
			target="_blank"
		>
			<Icon name="codicon:github" />
		</a>
		<div id="translate-buttons-container">
			<a
				id="translation-link-en"
				href={"en" === lang ? "javascript:void(0)" : switchLangFromUrl(Astro.url, "en")}
				class:list={[{ disabled: "en" === lang }]}
				title={t("navbar.switch_language")}
			>
				en
			</a>
			<Icon name="ph:translate-bold" />
			<a
				id="translation-link-fr"
				href={"fr" === lang ? "javascript:void(0)" : switchLangFromUrl(Astro.url, "fr")}
				class:list={[{ disabled: "fr" === lang }]}
				title={t("navbar.switch_language")}
			>
				fr
			</a>
		</div>
		<a
			id="mobile-translation-link"
			href={switchLangFromUrl(Astro.url, lang === defaultLang ? "fr" : "en")}
			title={t("navbar.switch_language")}>{lang === defaultLang ? "fr" : "en"}</a
		>
	</div>
</nav>

<dialog id="contact-dialog">
	<header>
		<p>{t("navbar.contact_me")}</p>
		<button
			id="contact-dialog-close-button"
			onclick="document.getElementById('contact-dialog').close()"
			title={t("global.close_dialog")}
		>
			<Icon name="ic:baseline-close" />
		</button>
	</header>
	<div id="contact-dialog-main-container">
		<BasicLink
			href="mailto:contact.nicolasrenault@gmail.com?subject=Hello there!&body=Hey,"
			title={t("navbar.contact_me")}
			target="_blank"
			text="contact.nicolasrenault@gmail.com"
		/>
		<button
			id="contact-dialog-copy-button"
			onclick="copyEmailToClipboard()"
			title={t("global.copy_email")}
		>
			<!-- TODO add little green animation when copied -->
			<Icon name="ic:baseline-copy-all" />
		</button>
	</div>
</dialog>

<script is:inline>
	function copyEmailToClipboard() {
		navigator.clipboard.writeText("contact.nicolasrenault@gmail.com");

		const contactDialogCopyButton = document.getElementById("contact-dialog-copy-button");
		contactDialogCopyButton?.classList.add("copied");

		setTimeout(() => {
			contactDialogCopyButton?.classList.remove("copied");
		}, 1000);
	}
</script>

<style lang="scss">
	nav,
	dialog {
		--font-size: 1.5rem;
	}

	nav {
		display: flex;
		justify-content: space-between;
		padding: 1rem 1.5rem 0 1.5rem;
		height: fit-content;
		align-items: center;
		font-size: var(--font-size);

		z-index: 9999;

		max-width: 85rem;
		margin-left: auto;
		margin-right: auto;

		ul {
			display: flex;
			align-items: center;
			gap: 5rem;
			list-style: none;

			li {
				position: relative;

				&::before {
					content: "";
					display: block;
					position: absolute;
					bottom: -0.25rem;
					margin-top: 0.5rem;
					width: 0;
					height: 3px;
					background: var(--text-rgb);
					transition: width 0.3s;
				}
				&.active::before {
					transition: width 0.4s;
				}

				&.active::after {
					content: "";
					display: block;
					position: absolute;
					bottom: -0.25rem;
					right: 0;
					margin-top: 0.5rem;
					width: 100%;
					height: 3px;
					background: var(--secondary-rgb);
					transition: width 0.5s;
				}

				@media (prefers-reduced-motion: no-preference) {
					&:hover::before {
						width: 100%;
					}
					&:hover::after {
						transition: width 0.3s;
						width: 0;
					}
				}
			}
		}

		a,
		button {
			text-decoration: none;
			color: var(--text-rgb);
			text-transform: uppercase;

			border: none;
			background: none;

			padding: 0;
			margin: 0;

			letter-spacing: -1.5px;

			&:hover {
				cursor: pointer;
			}
		}

		#left-container {
			display: grid;
			grid-template-columns: 1fr 1fr;
			gap: 2rem;
			align-items: center;
			margin-right: 1rem;
			a,
			button {
				transition: transform 0.2s ease-in-out;

				&:hover {
					transform: translateY(-2px);
				}
			}

			.icon {
				display: flex;
				justify-content: flex-end;

				svg {
					width: var(--font-size);
					height: var(--font-size);
				}
			}

			#translate-buttons-container {
				font-size: calc(var(--font-size) + 0.1rem);
				display: grid;
				grid-template-columns: 1fr 1fr 1fr;
				gap: 0.3rem;
				align-items: center;

				a.disabled {
					pointer-events: none;
					opacity: 0.2;

					&:hover {
						transform: none;
					}
					&:focus {
						outline-color: gray;
					}
				}
			}

			// #mobile-resume-link,
			#mobile-contact-link,
			#mobile-translation-link {
				display: none;
			}
		}
	}

	#contact-dialog {
		background-color: var(--primary-rgb);
		color: var(--text-rgb);
		text-transform: uppercase;
		font-size: var(--font-size);

		border-radius: 13px;
		border: 1px solid var(--secondary-rgb);

		padding-top: 0;

		header {
			display: flex;
			width: 100%;
			justify-content: space-between;

			button {
				width: calc(var(--font-size) * 1.2);
			}
		}

		#contact-dialog-main-container {
			:global(a.basic-link) {
				letter-spacing: normal;
			}
		}

		button {
			background-color: transparent;
			color: var(--text-rgb);
			text-transform: uppercase;
			border: none;

			cursor: pointer;

			min-width: 1rem;
			aspect-ratio: 1;
			padding: 0;
			margin: 0;

			transition: transform 0.2s ease-in-out;

			&:hover {
				transform: translateY(-2px);
			}
		}

		#contact-dialog-copy-button {
			--green: rgb(18, 162, 4);

			width: var(--font-size);

			&.copied {
				animation: copied 1s;
			}

			@keyframes copied {
				0% {
					color: var(--green);
				}
				100% {
					color: var(--text-rgb);
				}
			}
		}
		&::backdrop {
			background-color: rgba(0, 0, 0, 0.5);
		}
	}

	@media (width <= 1024px) {
		nav,
		dialog {
			--font-size: 1.2rem;
		}

		nav {
			ul {
				padding: 0;
				gap: 3rem;
			}

			#left-container {
				margin-right: 0;
				gap: 1rem;
			}
		}
	}

	@media (width <= 680px) {
		nav,
		dialog {
			--font-size: 1rem;
		}

		nav {
			padding: 1rem 2rem;

			ul {
				gap: 1rem;
			}
		}
	}

	@media (width <= 480px) {
		nav {
			--font-size: 1.15rem;

			display: flex;

			position: fixed;
			width: 100vw;
			height: 7%;

			bottom: 50%;
			bottom: 0;
			left: 0;
			padding: 3px 0;

			background-color: var(--primary-rgb);
			border-top: solid 2px var(--text-dark-gray-rgb);

			&.active {
				transform: translateX(0);
			}

			ul {
				flex-direction: row;
				align-items: flex-start;
				gap: 0.6rem;
				margin: 0 0 0 0.5rem;

				// #resume-link,
				#contact-link {
					display: none;

					button {
						padding: 0;
						margin: 0;
					}
				}
			}

			#left-container {
				display: flex;
				gap: 0.5rem;
				margin-right: 0.5rem;
				* {
					width: fit-content;
				}

				#translate-buttons-container {
					display: none;
				}

				// #mobile-resume-link,
				#mobile-contact-link,
				#mobile-translation-link {
					display: flex;

					svg {
						width: calc(var(--font-size) + 0.2rem);
						height: calc(var(--font-size) + 0.2rem);
					}
				}
			}
		}

		dialog {
			#contact-dialog-main-container {
				:global(a.basic-link) {
					font-size: 0.8rem;
				}
			}
		}
	}

	@media (width <= 370px) {
		nav,
		dialog {
			--font-size: 0.95rem;
		}
	}

	//Make the nav disappear to avoir translate: transform and position: fixed issues
	body.navigateOnScroll nav {
		display: none;
	}
</style>
