---
import { defaultLang, getLangFromUrl, getUrlWithTranslation, switchLangFromUrl } from "../utils";
import { astroI18n, t } from "astro-i18n";

astroI18n.init(Astro);

const lang = getLangFromUrl(Astro.url);

let isHome = false;
let isProjects = false;
let isResume = false;
---

<nav>
	<ul>
		{
			!(Astro.url.pathname == getUrlWithTranslation("", lang)) && (
				<li>
					<a href={getUrlWithTranslation("", lang)}>{t("navbar.homepage")}</a>
				</li>
			)
		}

		{
			!(Astro.url.pathname == getUrlWithTranslation("projects", lang)) && (
				<li>
					<a href={getUrlWithTranslation("projects", lang)}>{t("navbar.projects")}</a>
				</li>
			)
		}
		{
			!(Astro.url.pathname == getUrlWithTranslation("resume", lang)) && (
				<li>
					<a href={getUrlWithTranslation("resume", lang)}>{t("navbar.resume")}</a>
				</li>
			)
		}
		<li><a href="mailto:contact@nicolasrenault.com">{t("navbar.contact")}</a></li>
	</ul>
	<div>
		<a
			id="translation-link"
			href={switchLangFromUrl(Astro.url, lang === defaultLang ? "fr" : "en")}
			>{lang === defaultLang ? "fr" : "en"}</a
		>
		{/* TODO add toggle for horizontal scroll */}
	</div>
</nav>

<style lang="scss">
	nav {
		display: flex;
		justify-content: space-between;
		padding: 1rem 1.5rem;
		border-bottom: 1px solid var(--text-rgb);
		align-items: center;
		font-size: 1.25rem;
		ul {
			display: flex;
			align-items: center;
			gap: 5rem;
			list-style: none;
		}

		a,
		button {
			text-decoration: none;
			color: var(--text-rgb);
			text-transform: uppercase;

			border: none;
			background: none;
		}
	}

	nr-logo {
		color: var(--text-rgb);
	}
</style>
