---

---

<script defer src="https://unpkg.com/two-mi18n@latest/dist/TwoMi18n.umd.js"></script>

<div id="translation-container" class="grid grid-flow-col gap-1">
	<button
		id="translation-button-en"
		class="translation-button link-animation link-animation-quicker"
		disabled>EN</button
	>
	<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="hidden h-8 w-8 md:block"
		><path
			fill="currentColor"
			d="m12.87 15.07l-2.54-2.51l.03-.03A17.5 17.5 0 0 0 14.07 6H17V4h-7V2H8v2H1v1.99h11.17C11.5 7.92 10.44 9.75 9 11.35C8.07 10.32 7.3 9.19 6.69 8h-2c.73 1.63 1.73 3.17 2.98 4.56l-5.09 5.02L4 19l5-5l3.11 3.11zM18.5 10h-2L12 22h2l1.12-3h4.75L21 22h2zm-2.62 7l1.62-4.33L19.12 17z"
		></path></svg
	>
	<button
		id="translation-button-fr"
		class="translation-button link-animation link-animation-quicker">FR</button
	>
</div>

<style>
	@reference "../styles/global.css";

	.translation-button {
		@apply disabled:text-heading/45 hidden cursor-pointer not-disabled:block disabled:cursor-auto md:block;
	}
</style>

<script>
	//TODO Translate
	// @ts-nocheck
	const translations = {
		default: "en",
		en: {
			"navbar.homepage": "Homepage",
			"navbar.my-projects": "My Projects",
			"navbar.ai-usage": "AI Usage",
			"navbar.main-projects": "Main projects",
			"navbar.info": "Info",
			"navbar.my-links": "My Links",
			"navbar.contact-me": "Contact me",
			copied: "Copied",
			error: "Error",
			"homepage-1":
				"I'm a FullStack Developer based in France. I'm always trying to optimize life in every aspect, which is why I enjoy building software applications that help people perform tasks more quickly and efficiently.",
			"homepage-2":
				"Outside of programming, I enjoy sports like gravel cycling and volleyball, spending time with my",
			"homepage-3": "and friends, and playing video games",
			girlfriend: "girlfriend",
			"work-current-job": "Current job",
			"trelleborg-1":
				"In the company since 2021, I have had the opportunity to work in different organizations. Started as an Application Developer, mainly focused on building interfaces and extending our ERP functionalities.",
			"trelleborg-2":
				"After an IT re-organization, I stepped into Digital Innovation, where I analyzed processes across 52 different sites to build solutions at a group scale.",
			"trelleborg-3":
				"Today, I'm focusing more on Project Management and Business analysis, with a clear target on my ongoing career.",
			projects: "Projects",
			"projects-headline":
				"Here is a list of my personnal projects. Most of them are Open Source. Feel free to check them on my",
			"this-project-is-fork": "This project is a fork of",
			"find-project": "Find project here",
			"see-on-github": "See on Github",
			"see-original": "See original project",
			"school-projects": "School projects",
		},
		fr: {
			"navbar.homepage": "Acceuil",
			"navbar.about-me": "Qui suis-je",
			"navbar.contact": "Contact",
			copied: "Copié",
			error: "Erreur",
			"homepage-1":
				"Je suis un Développeur FullStack basé en France. Je cherche toujours à optimiser mon quotidien sous tous ses aspects, c'est pourquoi j'aime créer des applications qui aident les gens à accomplir leurs tâches plus rapidement et plus efficacement.",
			"homepage-2":
				"En dehors de la programmation, j'aime faire du sport comme le gravel et le volley-ball, passer du temps avec ma",
			"homepage-3": "et mes amis, et jouer aux jeux vidéo.",
			girlfriend: "copine",
			"work-current-job": "Emploi actuel",
			"trelleborg-1":
				"Dans l'entreprise depuis 2021, j'ai eu l'opportunité d'évoluer au sein de différentes organisations. J'ai commencé en tant que Développeur d'Applications, principalement concentré sur la création d'interfaces logicielle et l'extension des fonctionnalités de notre ERP.",
			"trelleborg-2":
				"Suite à une réorganisation de l'IT, j'ai rejoint le pôle Innovation Digitale. Ma mission : analyser les processus de 52 sites différents pour déployer des solutions à l'échelle du groupe.",
			"trelleborg-3":
				"Aujourd'hui, je me concentre davantage sur la Gestion de Projet et la Business Analysis, avec une vision claire pour la suite de ma carrière.",
			projects: "Projets",
			"projects-headline":
				"Voici une liste de mes projets personnels. La plupart sont en Open Source. N'hésitez pas à y jeter un œil sur mon",
			"this-project-is-fork": "Ce projet est un fork de",
			"find-project": "Retrouvez le projet ici",
			"see-on-github": "Voir sur GitHub",
			"see-original": "Voir le projet original",
			"school-projects": "Projets scolaire",
		},
	};

	const twoMi18n = new TwoMi18n(translations);

	const buttonEN = document.getElementById("translation-button-en");
	const buttonFR = document.getElementById("translation-button-fr");

	buttonEN?.addEventListener("click", () => {
		handleTanslation("en");
	});
	buttonFR?.addEventListener("click", () => {
		handleTanslation("fr");
	});

	/**
	 * Handle all the changes needed for the translations
	 *  - Lang selector
	 *  - Add ?lang={lang} to URL Parameters
	 *  - Call TwoMi18n function
	 *
	 * @param lang
	 */
	function handleTanslation(lang) {
		if (lang === "en") {
			buttonEN.setAttribute("disabled", true);
			buttonFR.removeAttribute("disabled");

			window.history.replaceState("lang", null, "?lang=en");
		} else if (lang === "fr") {
			buttonEN.removeAttribute("disabled");
			buttonFR.setAttribute("disabled", true);

			window.history.replaceState("lang", null, "?lang=fr");
		}

		//Set <html> lang (Used as a signal for translation for other javascript tags)
		document.documentElement.lang = lang;

		changeLinkLangParam(lang);
		twoMi18n.translateHTML(lang);
	}

	/**
	 * Check in the URL if the {lang} param exist.
	 * If so, call @handleTranslation
	 */
	function getLangFromURL() {
		const params = new URLSearchParams(document.location.search);

		if (params.size !== 0) {
			const lang = params.get("lang");
			if (lang in translations) handleTanslation(lang);
		}
	}

	/**
	 * Change the href of all link in the page that have data-link.
	 * This is used for link that navigate the different pages, not the external links.
	 *
	 * @param lang
	 */
	function changeLinkLangParam(lang) {
		const anchors = document.querySelectorAll<HTMLAnchorElement>("[data-link]");

		anchors.forEach((anchor) => {
			let url = new URL(anchor.href);
			let params = new URLSearchParams(url.search);

			url.searchParams.set("lang", lang);

			anchor.href = url.toString();
		});
	}

	// TODO remove comment to enable back this on log (off for dev purose) getLangFromURL(); //Triggered once on load
</script>
