---
import BaseHead from "../components/BaseHead.astro";
import NavBar from "../components/NavBar.astro";
import "../../public/assets/normalize.css";
import { getLangFromUrl } from "../utils";

export interface Props {
	title: string;
}

const { title } = Astro.props;
const lang = getLangFromUrl(Astro.url);
---

<!DOCTYPE html>
<html lang={lang}>
	<BaseHead title={title} />
	<NavBar />
	<body>
		<slot />
		<style is:global>
			@font-face {
				font-family: Poppins;
				src: url("/fonts/Poppins-Regular.ttf");
				font-weight: 400;
				font-style: normal;
			}
			:root {
				--primary: 11, 11, 5;
				--secondary: 17, 221, 102;
				--secondary-light: 19, 255, 149;
				--secondary-dark: 12, 53, 24;
				--tertiary: 215, 131, 71;
				--tertiary-light: 255, 209, 181;
				--tertiary-dark: 153, 85, 0;
				--text: 239, 254, 244;
				--text-gray: 200, 200, 200;
				--primary-rgb: rgb(var(--primary));
				--secondary-rgb: rgb(var(--secondary));
				--secondary-light-rgb: rgb(var(--secondary-light));
				--secondary-dark-rgb: rgb(var(--secondary-dark));
				--tertiary-rgb: rgb(var(--tertiary));
				--tertiary-light-rgb: rgb(var(--tertiary-light));
				--tertiary-dark-rgb: rgb(var(--tertiary-dark));
				--text-rgb: rgb(var(--text));
				--accent-gradient: linear-gradient(
					45deg,
					var(--secondary-rgb),
					var(--tertiary-rgb) 30%,
					var(--text-rgb) 60%
				);
			}
			html {
				font-family: Poppins, sans-serif;
				color: var(--text-rgb);
				background-color: var(--primary-rgb);
			}
		</style>
	</body>
</html>
