---
import BaseHead from "../components/BaseHead.astro";
import NavBar from "../components/NavBar.astro";
import { getLangFromUrl } from "../utils";

export interface Props {
	title: string;
}

const { title } = Astro.props;
const lang = getLangFromUrl(Astro.url);
---

<!DOCTYPE html>
<html lang={lang}>
	<BaseHead title={title} />
	<NavBar />
	<body>
		<slot />
		<style is:global>
			@font-face {
				font-family: "Poppins";
				src: url("/fonts/Poppins-Regular.ttf");
				font-weight: 400;
				font-style: normal;
			}
			:root {
				--accent: 14, 128, 237;
				--accent-gradient: linear-gradient(
					45deg,
					rgb(var(--accent)),
					#da62c4 30%,
					white 60%
				);
			}
			html {
				font-family: "Poppins", sans-serif;
			}
		</style>
	</body>
</html>
