---
import BaseHead from "@components/BaseHead.astro";
import NavBar from "@components/NavBar.astro";
import "@styles/normalize.css";
import "@styles/global.scss";
import { getLangFromUrl } from "@utils";

export interface Props {
	title: string | undefined;
}

const { title } = Astro.props;
const lang = getLangFromUrl(Astro.url);
---

<!DOCTYPE html>
<html lang={lang}>
	<BaseHead title={title} />
	<NavBar />
	<body>
		<slot />
	</body>
</html>
