---
import "../styles/global.css";

import BaseHead from "@components/BaseHead.astro";
import Translations from "@components/Translations.astro";


const { title, pathname, lang } = Astro.props;
---

<!DOCTYPE html>
<html lang={lang}>
    <BaseHead title={title} />
	<body>
        <section id="main" class="w-full mx-auto md:border-x md:border-gray-200 md:max-w-[calc(100vw-2rem)] min-[90rem]:max-w-360 flex flex-col items-center gap-8 py-10">
            <slot />
        </section>
		<script>
			console.log(
				"  _   _ _           _             _____                        _ _   \r\n | \\ | (_)         | |           |  __ \\                      | | |  \r\n |  \\| |_  ___ ___ | | __ _ ___  | |__) |___ _ __   __ _ _   _| | |_ \r\n | . ` | |/ __/ _ \\| |/ _` / __| |  _  // _ \\ '_ \\ / _` | | | | | __|\r\n | |\\  | | (_| (_) | | (_| \\__ \\ | | \\ \\  __/ | | | (_| | |_| | | |_ \r\n |_| \\_|_|\\___\\___/|_|\\__,_|___/ |_|  \\_\\___|_| |_|\\__,_|\\__,_|_|\\__|\r\n                                                                     "
			);
			console.log("Github -> www.github.com/NicolasRenault");
		</script>
	</body>
	<Translations/>
</html>