---
import "@styles/normalize.css";
import "@styles/global.scss";
import BaseHead from "@components/BaseHead.astro";
import NavBar from "@components/NavBar.astro";
import { getLangFromUrl } from "@utils";
import Footer from "@components/Footer.astro";
import { ViewTransitions } from "astro:transitions";

export interface Props {
	title: string | undefined;
	pathname?: string;
}

const { title, pathname } = Astro.props;
const lang = getLangFromUrl(Astro.url);
---

<!DOCTYPE html>
<html lang={lang}>
	<ViewTransitions />
	<BaseHead title={title} />
	<body transition:animate="fade">
		<NavBar />
		<section id="main">
			<slot />
		</section>
		<Footer navigate={pathname} client:visible />
	</body>
</html>
