---
import "@styles/global.css";

import BaseHead from "@components/BaseHead.astro";
import NavBar from "@components/Navbar.astro";

const { title, pathname, lang } = Astro.props;
---

<!doctype html>
<html lang={lang}>
	<BaseHead title={title} />
	<body class="bg-surface relative flex flex-col">
		<noscript
			class="fixed top-0 z-50 w-full border border-red-600 bg-red-400 p-3 text-center text-white"
		>
			EN: JavaScript is disabled in your browser. It will affect the website's behavior. | FR:
			Javascript est désactivé dans votre navigateur. Cela va affecter le fonctionnement du
			site.
		</noscript>
		<section id="main" class="noscript:mt-20">
			<NavBar pathname={pathname} />
			<slot />
		</section>
		<script>
			console.log(
				"  _   _ _           _             _____                        _ _   \r\n | \\ | (_)         | |           |  __ \\                      | | |  \r\n |  \\| |_  ___ ___ | | __ _ ___  | |__) |___ _ __   __ _ _   _| | |_ \r\n | . ` | |/ __/ _ \\| |/ _` / __| |  _  // _ \\ '_ \\ / _` | | | | | __|\r\n | |\\  | | (_| (_) | | (_| \\__ \\ | | \\ \\  __/ | | | (_| | |_| | | |_ \r\n |_| \\_|_|\\___\\___/|_|\\__,_|___/ |_|  \\_\\___|_| |_|\\__,_|\\__,_|_|\\__|\r\n                                                                     "
			);
			console.log("Github -> www.github.com/NicolasRenault");
		</script>
	</body>
</html>
